@charset "UTF-8";

 @font-face {
  font-family: 'mlpt_font_icons';
  src: url('font/mlpt_font_icons.eot?36174735');
  src: url('font/mlpt_font_icons.eot?36174735#iefix') format('embedded-opentype'),
       url('font/mlpt_font_icons.woff2?36174735') format('woff2'),
       url('font/mlpt_font_icons.woff?36174735') format('woff'),
       url('font/mlpt_font_icons.ttf?36174735') format('truetype'),
       url('font/mlpt_font_icons.svg?36174735#mlpt_font_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mlpt_font_icons';
    src: url('../font/mlpt_font_icons.svg?64272630#mlpt_font_icons') format('svg');
  }
}
*/
 
 [class^="mlpt-icon-"]:before, [class*=" mlpt-icon-"]:before {
  font-family: "mlpt_font_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.mlpt-icon-home:before { content: '\2302'; } /* '⌂' */
.mlpt-icon-right-dir:before { content: '\25b8'; } /* '▸' */
.mlpt-icon-cloud:before { content: '\2601'; } /* '☁' */
.mlpt-icon-umbrella:before { content: '\2602'; } /* '☂' */
.mlpt-icon-right-hand:before { content: '\261e'; } /* '☞' */
.mlpt-icon-heart-empty-1:before { content: '\2661'; } /* '♡' */
.mlpt-icon-heart-1:before { content: '\2665'; } /* '♥' */
.mlpt-icon-music:before { content: '\266b'; } /* '♫' */
.mlpt-icon-flag:before { content: '\2691'; } /* '⚑' */
.mlpt-icon-attention:before { content: '\26a0'; } /* '⚠' */
.mlpt-icon-flash:before { content: '\26a1'; } /* '⚡' */
.mlpt-icon-flight-1:before { content: '\2708'; } /* '✈' */
.mlpt-icon-mail-1:before { content: '\2709'; } /* '✉' */
.mlpt-icon-info-circled:before { content: '\e705'; } /* '' */
.mlpt-icon-eye:before { content: '\e70a'; } /* '' */
.mlpt-icon-tag:before { content: '\e70c'; } /* '' */
.mlpt-icon-camera-alt:before { content: '\e70f'; } /* '' */
.mlpt-icon-location:before { content: '\e724'; } /* '' */
.mlpt-icon-basket:before { content: '\e73d'; } /* '' */
.mlpt-icon-road:before { content: '\e78f'; } /* '' */
.mlpt-icon-magnet:before { content: '\e7a1'; } /* '' */
.mlpt-icon-instagram:before { content: '\e800'; } /* '' */
.mlpt-icon-user:before { content: '\e801'; } /* '' */
.mlpt-icon-mobile:before { content: '\e802'; } /* '' */
.mlpt-icon-globe:before { content: '\e803'; } /* '' */
.mlpt-icon-cc-paypal:before { content: '\e804'; } /* '' */
.mlpt-icon-plus:before { content: '\e805'; } /* '' */
.mlpt-icon-comment:before { content: '\e806'; } /* '' */
.mlpt-icon-mail:before { content: '\e807'; } /* '' */
.mlpt-icon-emo-coffee:before { content: '\e808'; } /* '' */
.mlpt-icon-commerical-building:before { content: '\e809'; } /* '' */
.mlpt-icon-flight:before { content: '\e80a'; } /* '' */
.mlpt-icon-clock:before { content: '\e80b'; } /* '' */
.mlpt-icon-basket-alt:before { content: '\e80c'; } /* '' */
.mlpt-icon-emo-beer:before { content: '\e80d'; } /* '' */
.mlpt-icon-suitcase-1:before { content: '\e810'; } /* '' */
.mlpt-icon-phone-squared:before { content: '\f098'; } /* '' */
.mlpt-icon-twitter:before { content: '\f099'; } /* '' */
.mlpt-icon-facebook:before { content: '\f09a'; } /* '' */
.mlpt-icon-certificate:before { content: '\f0a3'; } /* '' */
.mlpt-icon-beaker:before { content: '\f0c3'; } /* '' */
.mlpt-icon-menu-1:before { content: '\f0c9'; } /* '' */
.mlpt-icon-magic:before { content: '\f0d0'; } /* '' */
.mlpt-icon-gplus:before { content: '\f0d5'; } /* '' */
.mlpt-icon-money:before { content: '\f0d6'; } /* '' */
.mlpt-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.mlpt-icon-linkedin:before { content: '\f0e1'; } /* '' */
.mlpt-icon-lightbulb:before { content: '\f0eb'; } /* '' */
.mlpt-icon-suitcase:before { content: '\f0f2'; } /* '' */
.mlpt-icon-bell-alt:before { content: '\f0f3'; } /* '' */
.mlpt-icon-coffee:before { content: '\f0f4'; } /* '' */
.mlpt-icon-food:before { content: '\f0f5'; } /* '' */
.mlpt-icon-ambulance:before { content: '\f0f9'; } /* '' */
.mlpt-icon-medkit:before { content: '\f0fa'; } /* '' */
.mlpt-icon-beer:before { content: '\f0fc'; } /* '' */
.mlpt-icon-h-sigh:before { content: '\f0fd'; } /* '' */
.mlpt-icon-angle-right:before { content: '\f105'; } /* '' */
.mlpt-icon-desktop:before { content: '\f108'; } /* '' */
.mlpt-icon-laptop:before { content: '\f109'; } /* '' */
.mlpt-icon-quote-right:before { content: '\f10e'; } /* '' */
.mlpt-icon-gamepad:before { content: '\f11b'; } /* '' */
.mlpt-icon-help:before { content: '\f128'; } /* '' */
.mlpt-icon-info:before { content: '\f129'; } /* '' */
.mlpt-icon-attention-alt:before { content: '\f12a'; } /* '' */
.mlpt-icon-puzzle:before { content: '\f12e'; } /* '' */
.mlpt-icon-mic:before { content: '\f130'; } /* '' */
.mlpt-icon-shield:before { content: '\f132'; } /* '' */
.mlpt-icon-extinguisher:before { content: '\f134'; } /* '' */
.mlpt-icon-rocket:before { content: '\f135'; } /* '' */
.mlpt-icon-anchor:before { content: '\f13d'; } /* '' */
.mlpt-icon-bullseye:before { content: '\f140'; } /* '' */
.mlpt-icon-youtube:before { content: '\f167'; } /* '' */
.mlpt-icon-instagram-1:before { content: '\f16d'; } /* '' */
.mlpt-icon-tumblr:before { content: '\f173'; } /* '' */
.mlpt-icon-moon:before { content: '\f186'; } /* '' */
.mlpt-icon-bug:before { content: '\f188'; } /* '' */
.mlpt-icon-wheelchair:before { content: '\f193'; } /* '' */
.mlpt-icon-bank:before { content: '\f19c'; } /* '' */
.mlpt-icon-graduation-cap:before { content: '\f19d'; } /* '' */
.mlpt-icon-language:before { content: '\f1ab'; } /* '' */
.mlpt-icon-paw:before { content: '\f1b0'; } /* '' */
.mlpt-icon-spoon:before { content: '\f1b1'; } /* '' */
.mlpt-icon-cube:before { content: '\f1b2'; } /* '' */
.mlpt-icon-recycle:before { content: '\f1b8'; } /* '' */
.mlpt-icon-cab:before { content: '\f1b9'; } /* '' */
.mlpt-icon-taxi:before { content: '\f1ba'; } /* '' */
.mlpt-icon-tree:before { content: '\f1bb'; } /* '' */
.mlpt-icon-file-image:before { content: '\f1c5'; } /* '' */
.mlpt-icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.mlpt-icon-binoculars:before { content: '\f1e5'; } /* '' */
.mlpt-icon-cc-visa:before { content: '\f1f0'; } /* '' */
.mlpt-icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.mlpt-icon-cc-paypal-1:before { content: '\f1f4'; } /* '' */
.mlpt-icon-bus:before { content: '\f207'; } /* '' */
.mlpt-icon-motorcycle:before { content: '\f21c'; } /* '' */
.mlpt-icon-heartbeat:before { content: '\f21e'; } /* '' */
.mlpt-icon-pinterest:before { content: '\f231'; } /* '' */
.mlpt-icon-bed:before { content: '\f236'; } /* '' */
.mlpt-icon-flickr:before { content: '\f303'; } /* '' */
.mlpt-icon-vimeo:before { content: '\f306'; } /* '' */
.mlpt-icon-picture:before { content: '🌄'; } /* '\1f304' */
.mlpt-icon-leaf:before { content: '🍂'; } /* '\1f342' */
.mlpt-icon-glass:before { content: '🍸'; } /* '\1f378' */
.mlpt-icon-gift:before { content: '🎁'; } /* '\1f381' */
.mlpt-icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.mlpt-icon-headphones:before { content: '🎧'; } /* '\1f3a7' */
.mlpt-icon-video:before { content: '🎬'; } /* '\1f3ac' */
.mlpt-icon-award:before { content: '🏉'; } /* '\1f3c9' */
.mlpt-icon-credit-card:before { content: '💳'; } /* '\1f4b3' */
.mlpt-icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.mlpt-icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.mlpt-icon-pin:before { content: '📌'; } /* '\1f4cc' */
.mlpt-icon-attach:before { content: '📎'; } /* '\1f4ce' */
.mlpt-icon-book:before { content: '📕'; } /* '\1f4d5' */
.mlpt-icon-phone:before { content: '📞'; } /* '\1f4de' */
.mlpt-icon-megaphone:before { content: '📣'; } /* '\1f4e3' */
.mlpt-icon-download:before { content: '📥'; } /* '\1f4e5' */
.mlpt-icon-camera:before { content: '📷'; } /* '\1f4f7' */
.mlpt-icon-key:before { content: '🔑'; } /* '\1f511' */
.mlpt-icon-bell:before { content: '🔔'; } /* '\1f514' */
.mlpt-icon-link:before { content: '🔗'; } /* '\1f517' */
.mlpt-icon-fire:before { content: '🔥'; } /* '\1f525' */
.mlpt-icon-hammer:before { content: '🔨'; } /* '\1f528' */
.mlpt-icon-clock-1:before { content: '🕔'; } /* '\1f554' */
.mlpt-icon-truck:before { content: '🚚'; } /* '\1f69a' */


div#mlpt_product_meta textarea {
    width: 100%;
	font-family: monospace;
}
p.mlpt_add_meta, span.mlpt-remove {
    cursor: pointer;
}
span.mlpt-remove {
    color: #AA1E44;
	padding: 15px 15px 0;
    display: block;
}
span.mlpt_editor_title {
    clear: both;
    display: block;
	margin-bottom: 5px;
    color: #888;
}
div#mlpt_product_meta p {
    padding: 15px;
    margin: 0;
}
#mlpt_dynamic_meta .inside {
    padding: 0;
	margin:0;
}
p.mlpt_add_meta {
    padding: 10px 15px;
    font-weight: bold;
	font-size: 15px;
    color: #0073AA;
	text-align: center;
}
div#mlpt_product_meta input {
    margin-bottom: 8px;
	vertical-align: middle;
}
div.mlpt_tab_setting {
    border-top: 1px solid #EEE;
}
.mlpt_tab_setting_inner {
	padding: 15px;
	border-bottom: 1px dashed #eee;
}
span.mlpt-remove {
    padding: 15px;
	text-align: center;
}
p.mlpt_allowed_html {
    padding: 0 0 10px 0;
	border-bottom: 1px dashed #eee;
}
input#mlpt_shortcode_output {
    width: 270px;
}
p#mlpt_icon_p {
	padding: 10px 0;
    border-top: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
	margin-bottom: 0;
}
div#mlpt_product_meta input#mlpt_readonly {
    margin: 0;
}
div#mlpt_type_meta input[type="radio"] {
    margin: -3px 7px 0 0;
}
div#mlpt_type_meta h4 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
	font-style: italic;
}
div.mlpt_start_concert {
    border-top: 1px solid #eee;
}
div.mlpt_start_concert .start_mlpt {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
div.mlpt_start_concert .height_mlpt {
    padding-top: 10px;
}
.mlpt_start_concert.height_mlpt span {
    margin-right: 7px;
}
.collapse_mlpt {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
input#_mlpt_highest, input#_mlpt_limit_height, input#_mlpt_prevent {
    margin: 0 0 4px 6px !important;
}
span#mlpt_icon_display {
	clear:both;
}
span#mlpt_icon_box i {
    font-size: 24px;
    margin-left: 10px;
}
#mlpt_product_meta h2 span.dashicons {
    float: right;
}
div#mlpt_product_meta h2 {
    border-top: 1px solid #eee;
    background: #5693CC;
    color: #fff;
	cursor: pointer;
}
button.upload_image_button {
    vertical-align: middle;
	margin-right: 10px;
}
input.tab-upload-container {
	margin-bottom: 0 !important;
	vertical-align: middle;
    width: 100px;
}
select.mlpt_media_useas {
    margin-left: 10px;
	vertical-align: middle;
}
.mlpt-upload-container {
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #F9F9F9;
}
.mlpt-attachment-options {
    clear: both;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed #ddd;
}
span.mlpt-attachment-type, span.mlpt-media-type {
    display: inline-block;
    vertical-align: middle;
}
table.mlpt-color-table tr td:first-child {
    vertical-align: top;
}
.mlpt_tab_setting_div h2 input[type="radio"] {
   margin: -2px 6px 0 0 !important;
}
.mlpt_check_concert.choose_mlpt {
    position: relative;
    padding: 15px 0;
}
a.wp-color-result {
    width: 50px;
    height: 22px;
    display: inline-block;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    cursor: pointer;
}
input.mlpt-color-picker.wp-color-picker {
    vertical-align: top;
    margin: 0 6px 0 0;
    font-size: 13px;
    height: 24px;
	width: 100px;
}